transformers
transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
torch
notebook
fastapi
uvicorn
Jinja2
ensure
python-box
trl
langchain
langchain-community
sentence-transformers
llama-cpp-python
faiss-cpu
streamlit
streamlit_chat
PyPDF2
-e .